   @import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,700;1,700&display=swap');
body{
  background-color: black; 
}





/* html {
  box-sizing: border-box;
  font-family: "Share", sans-serif;
  font-style: italic;
  font-size: 9em;
  background-color: #e0e0e0;
} */

.container {
  /* margin: auto; */
  /* width: 1000px; */
  display: flex;
  
  flex-wrap: nowrap;
 
}

.container-fluid{
  margin-top:0px;
}

.panel {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-left: 30%;
  margin-bottom: 60px;
  font-family: "Share", sans-serif;
  font-style: italic;
  font-size: 9em;
  
}

.panel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /* transition: transform 0.75s; */
  transform-style: preserve-3d;
  animation: flip 9s linear forwards infinite;
  animation-direction: normal;
}

.panel-front,
.panel-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.panel-front {
  background-color: tomato;
  color: black;
  justify-content: center;
}

.panel-back {
  
  color: white;
  transform: rotateY(180deg);
  /* padding: 5px; */
}

.panel-front  {
  width: 300px;
  height: 300px;
  text-align:center;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}



@media only screen and (min-width : 992px) {
  .panel{
    margin-left: 426px;
    margin-bottom:50px;
  }
}

.title{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  box-shadow: 0 1px 4px #000;
  transition-duration: 0.2s;
  z-index: 1;
}
h1 {
  width: 50px;
  margin: 50px auto;
  border-bottom: 8px double #fa0;
  text-shadow: 0 0 2px #777, 3px 1px #aaa;
  text-align: center;
}
